.blog_categories__filter {
  margin: 2rem 0;
}

.blog_categories__filter .widget_title {
  color: #2b2b2b;
  font-size: 1.5rem;
  font-weight: 500;
  border: 1px solid #f6986b;
  border-radius: 30px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 25px;
}

.blog_categories__filter .blog__category__listings {
  padding: 20px 0;
}

.blog_categories__filter .blog__category__listings li {
  color: #575757;
  font-size: 1rem;
  font-weight: 300;
  font-family: Poppins, sans-serif;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.blog_categories__filter .blog__category__listings li a {
  display: inline-block;
  color: #2b2b2b;
  font-size: 1.2rem;
}
.blog_categories__filter .blog__category__listings li a:hover {
  color: #f6986b;
}
.blog_categories__filter .blog__category__listings li span {
  margin-left: auto;
}
