.linkbutton {
  display: inline-block;
  color: #fff;
  font-size: 18.29px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  background-color: #135e9e;
  line-height: 40px;
  padding: 0 60px;
  position: relative;
  border-radius: 30px;
  transition: all 0.4s ease-in-out;
  margin-top: 1rem;
  width: max-content;
}

.linkbutton i {
  background-color: #fff;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 50px;
  color: #155799;
  position: absolute;
  top: 50%;
  transition: all 0.4s ease-in-out;
  left: 6px;
  transform: translateY(-50%);
}

.linkbutton:hover {
  background-color: #f37335;
  color: #fff;
}

.linkbutton:hover i {
  color: #f37335;
}
