.blog_tags__container {
  margin: 2rem 0;
}

.blog_tags__container h3.widget_title {
  color: #2b2b2b;
  font-size: 1.5rem;
  font-weight: 500;
  border: 1px solid #f6986b;
  border-radius: 30px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 25px;
}

.blog_tags__container .tagsCard__container {
  list-style: none;
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
