.section__sidebar{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#2b2b2b41;
}


.section__sidebar .section__sidebar__container{
    width:20%;
    background:#fff;
    height:100vh;
}

.section__sidebar .section__sidebar__container .sidebar__listing{
    padding:2rem 0;
}
.section__sidebar .section__sidebar__container .sidebar_close i{
    text-align:right;
    width:100%;
    padding:20px;
}

.section__sidebar .section__sidebar__container .sidebar__listing .items{
    padding-top:1rem;
    font-size:1.2rem;
}