.recent_news__section{

    padding:5rem 0;
}


.recent_news__section .content__container{
    color: #2b2b2b;
    margin-bottom: 7px;
    text-align: center;
}

.recent_news__section .content__container h2.title{
    font-size: 3.3rem;
    margin-bottom: 15px;
    font-weight: 700;
}

.recent_news__section .content__container p.titles_content{
    max-width: 550px;
    margin:0 auto;
}

