.classes_container {
  padding: 5rem 0;
}
.classes_container .class_navigation_container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.classes_container .class_navigation_container h3 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

.classes_container .content__container .class__title {
  color: #2b2b2b;
  font-size: 3.3rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
}

.classes_container .content__container h3.class__title:before {
  content: "";
  position: absolute;
  top: -40px;
  left: -70px;
  width: 114px;
  height: 108px;
  background-image: url("../../Assets/sec-bg.png");
  background-repeat: no-repeat;
  z-index: -1;
}

.classes_container .content__container p {
  font-size: 0.9rem;
  color: #575757;
}

.classes_container .buttons-container {
  display: flex;
  justify-content: end;
}

.classes_container .buttons-container a {
  color: black;
  margin: 1rem;
}

.classes_container .buttons-container i {
  font-size: 1.3rem;
}
